# Python bytecode files
*.pyc
*.pyo
__pycache__

# Python virtual environment
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Windows system files
Thumbs.db

# Excel files
*.xlsx
*.docx